<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" href="layui/css/layui.css">
<link rel="stylesheet" href="/editormd/css/editormd.min.css" />
</head>
<body>
	<div th:replace="head::head"></div>
	<div class="layui-container">
		<div class="layui-row" style="margin-top: 50px;">
			<div class="layui-col-md7">
				<div class="layui-carousel" id="test1">
					<div carousel-item style="border-radius: 50px;">
						<div style="background-color: red;">条目1</div>
						<div style="background-color: yellow;">条目2</div>
						<div style="background-color: blue;">条目3</div>
						<div style="background-color: #009E94;">条目4</div>
						<div style="background-color: gold;">条目5</div>
					</div>
				</div>
			</div>
			<div class="layui-col-md1" style="height: 1px;"></div>
			<div class="layui-col-md4" style="height: 300px;">
				<div class="layui-row"
					style="border: 1px solid darkcyan; height: 70px;">
					<a href="#" class="layui-btn layui-col-md12 layui-bg-orange"
						style="height: 100%;">一个可跳转的按钮</a>
				</div>
				<div class="layui-row"
					style="margin-top: 30px; border: 1px solid darkcyan; height: 70px;">
					<a href="#" class="layui-btn layui-col-md12 layui-bg-orange"
						style="height: 100%;">一个可跳转的按钮</a>
				</div>
				<div class="layui-row"
					style="margin-top: 30px; border: 1px solid darkcyan; height: 70px;">
					<a href="#" class="layui-btn layui-col-md12 layui-bg-orange"
						style="height: 100%;">一个可跳转的按钮</a>
				</div>
			</div>
		</div>
		<div class="layui-row">
			<div id="article" class="layui-col-md7">
				<!--
                    	作者：921856150@qq.com
                    	时间：2018-08-24
                    	描述：
                    
					<div class="layui-row" style="height: 150px;">
						<div class="layui-col-md9" style="height: 150px;">
							<div class="layui-row" style="height: 46px;font-size: 30px;">
								这是一个标题
							</div>
							<div class="layui-row" style="line-height: 25px;color: #c2c2c2;height: 74px;word-wrap: break-word;overflow:hidden;text-overflow:ellipsis;">
								这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容
							</div>
							<div class="layui-row" style="height: 30px;padding-top: 10px;">
								<div class="layui-col-md2" style="color: #c2c2c2;">
									master
								</div>
								
								<div class="layui-col-md2" style="color: #c2c2c2;">
									<i class="layui-icon layui-icon-reply-fill"></i>
									1
								</div>
								
								<div class="layui-col-md2" style="color: #c2c2c2;">
									<i class="layui-icon layui-icon-praise"></i>
									2
								</div>
							</div>
						</div>
						<div class="layui-col-md3">
							<img src="//t.cn/RCzsdCq" class="layui-nav-img" style="height: 150px;width: 150px;">
						</div>
					</div>-->
			</div>
			<div class="layui-col-md1" style="height: 1px;"></div>
			<div class="layui-col-md4" style="height: 400px;weight:500px">
				<div class="layui-row" style="margin-top: 50px; height: 50px;">
					<div class="layui-col-md10"
						style="color: #c2c2c2; font-size: 20px;">
						<i class="layui-icon" style="font-size: 20px; color: #1E9FFF;">&#xe66e;</i>
						标签
					</div>
					<div class="layui-col-md2" style="color: #c2c2c2;">
						<i class="layui-icon layui-icon-refresh-3"></i> 切换
					</div>
				</div>
				<div>
					<div class="layui-row" style="margin-bottom: 20px;">
						<div class="layui-col-md7" style="height: 50px;">

							<div class="layui-row" style="height: 25px;">
								<i class="layui-icon" style="font-size: 10px; color: #1E9FFF;">&#xe66e;
								</i> aaaaaa
							</div>
						</div>
					</div>

				</div>
				<div class="layui-row" style="height: 30px;">
					<a href="#" class="layui-btn layui-col-md12"
						style="height: 100%; background-color: #d2d2d2;">查看更多</a>
				</div>
			</div>
		</div>
	</div>
</body>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src='http://cdn.bootcss.com/marked/0.3.2/marked.min.js'></script>
<script src="/editormd/js/editormd.min.js"></script>
<script src="layui/layui.js"></script>
<script>
	layui.use([ 'layer', 'form' ], function() {
		var layer = layui.layer, form = layui.form;
		//layer.msg('Hello World');
	});
	layui.use('element', function() {
		var element = layui.element;
	});
	layui.use('carousel', function() {
		var carousel = layui.carousel;
		//建造实例
		carousel.render({
			elem : '#test1',
			width : '100%' //设置容器宽度
			,
			arrow : 'always' //始终显示箭头
		//,anim: 'updown' //切换动画方式
		});
	});
	var pages;
	$(function() {
		$.ajax({
			url : "/API/getCount",
			type : "post",
			dataType : "json",
			//contentType: "application/json;charset=UTF-8",
			success : function(response) {
				pages = response;
				console.log(response);
				loadArticle();
			},
			error : function(XMLHttpRequest, textStatus, errorThrown) {
				console.log("get tree error");
			}
		})
	});

	/*加载文章列表*/
	function loadArticle() {
		layui
				.use(
						'flow',
						function() {
							var $ = layui.jquery;
							var flow = layui.flow;
							var title = "这是一个标题";
							var context = "这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容这是好多好多内容";
							var author = "master";
							var comment_count = 1;
							var prefer_count = 2;
							flow
									.load({
										elem : '#article' //流加载容器
										,
										isAuto : true
										// ,scrollElem: '#LAY_demo1' //滚动条所在元素，一般不用填，此处只是演示需要。
										,
										done : function(page, next) { //执行下一页的回调
											var lis = [];
											var size = 3;
											//以jQuery的Ajax请求为例，请求下一页数据（注意：page是从2开始返回）
											$
													.get(
															'/API/getAllArticles/'
																	+ size
																	+ '/'
																	+ page,
															function(res) {
																//假设你的列表返回在data集合中
																console
																		.log(res);
																layui
																		.each(
																				res,
																				function(
																						index,
																						item) {
																					console
																							.log("111");
																					lis
																							.push('<div class="layui-row" style="height: 150px;margin-top:30px;"><div class="layui-col-md9" style="height: 150px;"><div class="layui-row" style="height: 46px;font-size: 30px;"><a href="/content/'+item.id+'">'
																									+ item.title
																									+ '</a></div><div class="layui-row" style="line-height: 25px;color: #c2c2c2;height: 74px;word-wrap: break-word;overflow:hidden;text-overflow:ellipsis;">'
																									+ item.content
																									+ '</div><div class="layui-row" style="height: 30px;padding-top: 10px;"><div class="layui-col-md2" style="color: #c2c2c2;">'
																									+ item.author.nickName
																									+ '</div><div class="layui-col-md2" style="color: #c2c2c2;"><i class="layui-icon">&#xe60e;</i>'
																									+ item.clickQuantity
																									+ '</div><div class="layui-col-md2" style="color: #c2c2c2;"><i class="layui-icon">&#xe60e;</i>'
																									+''
																									+ item.classification.name
																									+ '</div></div></div><div class="layui-col-md3"><img src="/image/wenzhang.png" class="layui-nav-img" style="height: 150px;width: 150px;"></div></div>');
																				});

																//执行下一页渲染，第二参数为：满足“加载更多”的条件，即后面仍有分页
																//pages为Ajax返回的总页数，只有当前页小于总页数的情况下，才会继续出现加载更多
																next(
																		lis
																				.join(''),
																		page < pages);

															});
										}
									});
						});
	}

	function getArticle() {
		var url1 = "http://132.232.101.165:8080/getWeather/";
		url1 = url1 + city_name;
		$(function() {
			$.ajax({
				url : url1,
				type : "get",
				dataType : "json",
				//contentType: "application/json;charset=UTF-8",
				success : function(response) {

				},
				error : function(XMLHttpRequest, textStatus, errorThrown) {

				}
			})
		});
	}
</script>
</html>


